@charset "UTF-8";
body {
  background-color: #EFEFEF;
}

.🏡 {
  display: block;
  position: absolute;
  height: 300px;
  width: 600px;
  top: 20%;
  left: 44%;
}
.🏡 .window-sm {
  display: block;
  position: absolute;
  z-index: 4;
  top: -6%;
  left: 6%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #495560;
  background: #A5ADB5;
}
.🏡 .🏡-roof {
  display: block;
  position: absolute;
  z-index: 3;
  top: -30%;
  left: -3.25%;
}
.🏡 .🏡-roof .r-white {
  display: block;
  position: absolute;
  height: 0px;
  border-style: solid;
  border-width: 0 66px 70px 66px;
  border-color: transparent transparent #FFFFFF transparent;
  top: 20px;
  left: 14px;
  z-index: 2;
}
.🏡 .🏡-roof .r-red {
  display: block;
  position: absolute;
  height: 0px;
  border-style: solid;
  border-width: 0 80px 90px 80px;
  border-color: transparent transparent #E4002B transparent;
  z-index: 1;
}
.🏡 .🏡-front {
  position: absolute;
  height: 180px;
  width: 120px;
  background: #FFFFFF;
  outline: 4px solid #495560;
  z-index: 2;
}
.🏡 .🏡-front .door {
  position: absolute;
  height: 70px;
  width: 40px;
  background: #A5ADB5;
  top: 36%;
  left: 34%;
}
.🏡 .🏡-front .steps .step-1 {
  position: absolute;
  height: 10px;
  width: 60px;
  background: #A5ADB5;
  box-shadow: 0 0 0 4px #495560;
  top: 77%;
  left: 25%;
}
.🏡 .🏡-front .steps .step-2 {
  position: absolute;
  height: 10px;
  width: 80px;
  background: #A5ADB5;
  box-shadow: 0 0 0 4px #495560;
  top: 85%;
  left: 16.5%;
}
.🏡 .🏡-front .steps .step-3 {
  position: absolute;
  height: 10px;
  width: 100px;
  background: #A5ADB5;
  box-shadow: 0 0 0 4px #495560;
  top: 94%;
  left: 8.5%;
}
.🏡 .🏡-wings {
  display: block;
  position: absolute;
  top: 14%;
  z-index: 1;
}
.🏡 .🏡-wings .wing-lhs-top {
  display: block;
  position: absolute;
  height: 20px;
  width: 140px;
  background: #FFFFFF;
  box-shadow: 0 0 0 4px #495560;
  left: -144px;
}
.🏡 .🏡-wings .wing-lhs {
  display: block;
  position: absolute;
  height: 120px;
  width: 140px;
  background: #FFFFFF;
  box-shadow: 0 0 0 4px #495560;
  top: 18px;
  left: -144px;
}
.🏡 .🏡-wings .wing-lhs .window-1 {
  display: block;
  position: absolute;
}
.🏡 .🏡-wings .wing-lhs .window-1 .w-1-lh {
  z-index: 4;
  display: block;
  position: absolute;
  width: 34px;
  height: 4px;
  background: #495560;
  left: 24px;
  top: 50px;
}
.🏡 .🏡-wings .wing-lhs .window-1 .w-1-lv {
  z-index: 3;
  display: block;
  position: absolute;
  width: 4px;
  height: 60px;
  background: #495560;
  left: 38px;
  top: 20px;
}
.🏡 .🏡-wings .wing-lhs .window-1 .w-1-s {
  z-index: 2;
  display: block;
  position: absolute;
  width: 28px;
  height: 60px;
  background: #A5ADB5;
  box-shadow: 0 0 0 4px #495560;
  left: 26px;
  top: 20px;
}
.🏡 .🏡-wings .wing-lhs .window-1 .w-1-b {
  display: block;
  position: absolute;
  width: 40px;
  height: 10px;
  background: #A5ADB5;
  box-shadow: 0 0 0 4px #495560;
  left: 19px;
  top: 84px;
}
.🏡 .🏡-wings .wing-lhs .window-2 {
  display: block;
  position: absolute;
  left: 60px;
}
.🏡 .🏡-wings .wing-lhs .window-2 .w-2-lh {
  z-index: 4;
  display: block;
  position: absolute;
  width: 34px;
  height: 4px;
  background: #495560;
  left: 24px;
  top: 50px;
}
.🏡 .🏡-wings .wing-lhs .window-2 .w-2-lv {
  z-index: 3;
  display: block;
  position: absolute;
  width: 4px;
  height: 60px;
  background: #495560;
  left: 38px;
  top: 20px;
}
.🏡 .🏡-wings .wing-lhs .window-2 .w-2-s {
  z-index: 2;
  display: block;
  position: absolute;
  width: 28px;
  height: 60px;
  background: #A5ADB5;
  box-shadow: 0 0 0 4px #495560;
  left: 26px;
  top: 20px;
}
.🏡 .🏡-wings .wing-lhs .window-2 .w-2-b {
  display: block;
  position: absolute;
  width: 40px;
  height: 10px;
  background: #A5ADB5;
  box-shadow: 0 0 0 4px #495560;
  left: 19px;
  top: 84px;
}
.🏡 .wing-rhs-top {
  display: block;
  position: absolute;
  height: 20px;
  width: 140px;
  background: #FFFFFF;
  box-shadow: 0 0 0 4px #495560;
  left: 124px;
  top: 36px;
}
.🏡 .wing-rhs {
  display: block;
  position: absolute;
  height: 120px;
  width: 140px;
  background: #FFFFFF;
  box-shadow: 0 0 0 4px #495560;
  left: 124px;
  top: 60px;
}
.🏡 .wing-rhs .window-3 {
  display: block;
  position: absolute;
}
.🏡 .wing-rhs .window-3 .w-3-lh {
  z-index: 4;
  display: block;
  position: absolute;
  width: 34px;
  height: 4px;
  background: #495560;
  left: 24px;
  top: 50px;
}
.🏡 .wing-rhs .window-3 .w-3-lv {
  z-index: 3;
  display: block;
  position: absolute;
  width: 4px;
  height: 60px;
  background: #495560;
  left: 38px;
  top: 20px;
}
.🏡 .wing-rhs .window-3 .w-3-s {
  z-index: 2;
  display: block;
  position: absolute;
  width: 28px;
  height: 60px;
  background: #A5ADB5;
  box-shadow: 0 0 0 4px #495560;
  left: 26px;
  top: 20px;
}
.🏡 .wing-rhs .window-3 .w-3-b {
  display: block;
  position: absolute;
  width: 40px;
  height: 10px;
  background: #A5ADB5;
  box-shadow: 0 0 0 4px #495560;
  left: 19px;
  top: 84px;
}
.🏡 .wing-rhs .window-4 {
  display: block;
  position: absolute;
  left: 60px;
}
.🏡 .wing-rhs .window-4 .w-4-lh {
  z-index: 4;
  display: block;
  position: absolute;
  width: 34px;
  height: 4px;
  background: #495560;
  left: 24px;
  top: 50px;
}
.🏡 .wing-rhs .window-4 .w-4-lv {
  z-index: 3;
  display: block;
  position: absolute;
  width: 4px;
  height: 60px;
  background: #495560;
  left: 38px;
  top: 20px;
}
.🏡 .wing-rhs .window-4 .w-4-s {
  z-index: 2;
  display: block;
  position: absolute;
  width: 28px;
  height: 60px;
  background: #A5ADB5;
  box-shadow: 0 0 0 4px #495560;
  left: 26px;
  top: 20px;
}
.🏡 .wing-rhs .window-4 .w-4-b {
  display: block;
  position: absolute;
  width: 40px;
  height: 10px;
  background: #A5ADB5;
  box-shadow: 0 0 0 4px #495560;
  left: 19px;
  top: 84px;
}

/*# sourceMappingURL=style.css.map */
